/*
 *  generator.rc : GeeXboX Win32 generator resources file.
 *  Copyright (C) 2003-2005  Benjamin Zores
 *
 *   This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *   This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *   You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

#include "resource.h"
#include <winresrc.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_CAN

IDD_MAIN DIALOG DISCARDABLE  0, 0, 365, 260
STYLE WS_OVERLAPPEDWINDOW
FONT 8, "MS Sans Serif"
BEGIN
    /* GeeXboX Options */
    GROUPBOX        "GeeXboX's Options", IDC_STATIC, 5, 5, 175, 105

    LTEXT           "Language :", IDC_STATIC, 10, 15, 60, 8
    COMBOBOX        LANG_LIST, 75, 15, 100, 106, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL

    LTEXT           "Subtitle Font :", IDC_STATIC, 10, 30, 60, 8
    COMBOBOX        SUBFONT_LIST, 75, 30, 100, 106, CBS_DROPDOWNLIST | WS_VSCROLL

    LTEXT           "Remote :", IDC_STATIC, 10, 45, 60, 8
    COMBOBOX        REMOTE_LIST, 75, 45, 100, 106, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL

    LTEXT           "Receiver :", IDC_STATIC, 10, 60, 60, 8
    COMBOBOX        RECEIVER_LIST, 75, 60, 100, 106, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL

    LTEXT           "NVidia vidix :", IDC_STATIC, 10, 75, 60, 8
    COMBOBOX        NVIDIA_LIST, 75, 75, 100, 106, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL

    LTEXT           "Image tempo (in s) :", IDC_STATIC, 10, 90, 70, 8
    EDITTEXT        TEMPOIMG, 75, 90, 100, 12, ES_AUTOHSCROLL

    /* Network Services */
    GROUPBOX        "Network Services", IDC_STATIC, 5, 112, 175, 70

    LTEXT           "WARNING : Enabling these services opens a gate which authorize remote anonymous connection to your computer. Only enable this if you know what you're doing.", IDC_STATIC, 10, 122, 160, 8

    CHECKBOX        "Telnet Server", TELNET_SERVER, 10, 157, 60, 8
    CHECKBOX        "FTP Server", FTP_SERVER, 10, 167, 60, 8

    /* Audio Options */
    GROUPBOX        "Audio Options", IDC_STATIC, 5, 185, 175, 70

    LTEXT           "Card's ID :", IDC_STATIC, 10, 195, 60, 8
    EDITTEXT        AUDIO_CARD, 75, 195, 100, 12, ES_AUTOHSCROLL

    LTEXT           "Mode :", IDC_STATIC, 10, 210, 60, 8
    COMBOBOX        AUDIO_MODE_LIST, 75, 210, 100, 106, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL

    LTEXT           "Nr. of Channels :", IDC_STATIC, 10, 225, 60, 8
    COMBOBOX        AUDIO_CHANNELS_LIST, 75, 225, 100, 106, CBS_DROPDOWNLIST | WS_VSCROLL

    CHECKBOX        "AC3/DTS passthrough", AUDIO_HWAC3, 10, 240, 100, 8

    /* Network Options */
    GROUPBOX        "Network Options", IDC_STATIC, 185, 5, 175, 148

    LTEXT           "Network's type :", IDC_STATIC, 190, 15, 60, 8
    COMBOBOX        PHY_LIST, 255, 15, 100, 106, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL

    LTEXT           "Wifi mode :", IDC_STATIC, 190, 30, 60, 8
    COMBOBOX        WIMO_LIST, 255, 30, 100, 106, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL

    LTEXT           "Wifi WEP key :", IDC_STATIC, 190, 45, 60, 8
    EDITTEXT        WIFIWEP, 255, 45, 100, 12, ES_AUTOHSCROLL

    LTEXT           "Wifi SSID :", IDC_STATIC, 190, 60, 60, 8
    EDITTEXT        WIFIESSID, 255, 60, 100, 12, ES_AUTOHSCROLL

    LTEXT           "Geexbox IP :", IDC_STATIC, 190, 75, 60, 8
    EDITTEXT        IPGEEX, 255, 75, 100, 12, ES_AUTOHSCROLL

    LTEXT           "Gateway IP :", IDC_STATIC, 190, 90, 60, 8
    EDITTEXT        IPGAT, 255, 90, 100, 12, ES_AUTOHSCROLL

    LTEXT           "DNS Server IP :", IDC_STATIC, 190, 105, 60, 8
    EDITTEXT        IPDNS, 255, 105, 100, 12, ES_AUTOHSCROLL

    LTEXT           "User login :", IDC_STATIC, 190, 120, 60, 8
    EDITTEXT        SMBUSER, 255, 120, 100, 12, ES_AUTOHSCROLL

    LTEXT           "User password :", IDC_STATIC, 190, 135, 60, 8
    EDITTEXT        SMBPWD, 255, 135, 100, 12, ES_AUTOHSCROLL

    /* Buttons */
    CTEXT           "If you don't know what an option is, keep default value.", IDC_STATIC, 215, 161, 120, 8

    PUSHBUTTON      "&Ok", IDC_OK, 215, 185, 50, 14
    PUSHBUTTON      "&Help", IDC_HLP, 270, 185, 50, 14
END
