#include "resource.h"
#include <winresrc.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_CAN

IDD_MAIN DIALOG DISCARDABLE  0, 0, 207, 75
STYLE WS_OVERLAPPEDWINDOW
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Langage:", IDC_STATIC, 10, 15, 30, 8
    COMBOBOX        LANG_LIST, 45, 15, 100, 106, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL

    LTEXT           "Remote:", IDC_STATIC, 10, 30, 30, 8
    COMBOBOX        REMOTE_LIST, 45, 30, 100, 106, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL

    LTEXT           "Receiver:", IDC_STATIC, 10, 45, 30, 8
    COMBOBOX        RECEIVER_LIST, 45, 45, 100, 106, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL

    GROUPBOX        "GeeXboX's Options", IDC_STATIC, 5, 5, 143, 60

    PUSHBUTTON      "&Ok", IDC_OK, 150, 10, 50, 14
    PUSHBUTTON      "&Help", IDC_HLP, 150, 30, 50, 14
END

