#include "resource.h"
#include <winresrc.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_CAN

IDD_MAIN DIALOG DISCARDABLE  0, 0, 217, 90
STYLE WS_OVERLAPPEDWINDOW
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Language:", IDC_STATIC, 10, 15, 50, 8
    COMBOBOX        LANG_LIST, 55, 15, 100, 106, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL

    LTEXT           "Subtitle Font:", IDC_STATIC, 10, 30, 50, 8
    COMBOBOX        SUBFONT_LIST, 55, 30, 100, 106, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL

    LTEXT           "Remote:", IDC_STATIC, 10, 45, 50, 8
    COMBOBOX        REMOTE_LIST, 55, 45, 100, 106, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL

    LTEXT           "Receiver:", IDC_STATIC, 10, 60, 50, 8
    COMBOBOX        RECEIVER_LIST, 55, 60, 100, 106, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL

    GROUPBOX        "GeeXboX's Options", IDC_STATIC, 5, 5, 153, 75

    PUSHBUTTON      "&Ok", IDC_OK, 160, 15, 50, 14
    PUSHBUTTON      "&Help", IDC_HLP, 160, 35, 50, 14
END

